<div class="summary">
  <div class="stat-row first">
    <p class="availability">
      {{!-- availability svg gets inserted here --}}
      <span class="big">{{humanize_table_status status}}</span>
      {{#if parenthetical}}
      <span class="parenthetical">(some replicas missing)</span>
      {{/if}}
    </p>
  </div>
  <div class="stat-row">
    <p class="documents">
      <span class="big">
        {{#if_defined total_keys}}
        About {{approximate_count total_keys}}
        {{else}}
        Unknown
        {{/if_defined}}
      </span>documents</p>
  </div>
  <div class="stat-row">
    <p class="masters"><span class="big">
      <span class="{{available_shards_class}}">{{num_available_shards}}</span>
      /{{num_shards}} </span> primary replicas available</p>
  </div>
  <div class="stat-row">
    <p class="replicas"><span class="big">
      <span class="{{available_replicas_class}}">{{num_available_replicas}}</span>
      /{{num_replicas}} </span> replicas available</p>
  </div>
</div>
